* {
    font-feature-settings: var(--font-feature-settings);
    letter-spacing: var(--letter-spacing);
  }
  
  .container {
    display: flex;
    gap: 2em;
    margin: 2em auto;
    max-width: 85em;
  }
  
  .mainContent {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    cursor: pointer;
  }
  
  .mainContent img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
    transition: opacity var(--transition-speed);
  }
  
  .mainContent h3 {
    font-family: var(--font-family);
    font-size: 1.25em;
    line-height: 1.2em;
    color: var(--text-color);
  }
  
  .mainContent p {
    font-size: 1em;
    line-height: 1.2em;
  }
  
  .mainContent span {
    text-transform: uppercase;
  }
  
  .mainContent:hover h3 {
    text-decoration: underline;
  }
  
  .mainContent:hover img {
    opacity: 0.9;
  }
  
  
  /* BULLETED SECTION */
  
  .bulletedContentContainer {
    flex: 1 1 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bulletedContentContainer div {
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    cursor: pointer;
  }
  
  .bulletedContentContainer img {
    width: 10em;
    height: 6em;
    object-fit: cover;
    flex-shrink: 0;
    transition: opacity var(--transition-speed);
    display: block;
  }
  
  .bulletedContent {
    display: flex;
    flex-direction: column;
  }
  
  .bulletedContentContainer p:first-child {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  .bulletedContentContainer > div:hover > .bulletedContent > p:first-child {
    text-decoration: underline;
  }
  
  .bulletedContentContainer > div:hover img {
    opacity: 0.9;
  }
  
  .bulletAuthor {
    font-size: 0.75em;
    color: #666;
  }
  
  .divider {
    border: none;
    border-top: 1px solid #909090;
    margin: 0.5em 0;
    height: 1px;
    width: 100%;
    background-color: transparent;
  }